@use "../../scss/base";

.hero {
  width: 100%;
  height: 100vh;
  max-height: 500px;
  position: relative;
  object-fit: cover;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0rem auto;
    padding: 0 1rem;
    max-width: 1280px;
    max-height: 500px;
    z-index: 20;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
    h1 {
      color: #f4ededee;
      font-weight: 800;
      margin-top: clamp(0.5rem, 0.8rem, 0.7rem);
      margin-bottom: clamp(0.7rem, 1rem, 1.1rem);
      font-size: calc(10px + 1.4vw);
    }
    h3 {
      color: #20afbc;
      font-size: calc(7px + 0.8vw);
    }
    p {
      max-width: 55%;
      color: rgb(213, 209, 209);
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
    }
    .contact-btn {
      background: var(--clr-primary-5);
      color: var(--clr-primary-9);
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      padding: 0.3rem 0.4rem;
      font-weight: 700;
      width: 160px;
      margin: 0.8rem 0rem 0rem;
      border: none;
      outline: none;
      cursor: pointer;
      -webkit-transition: var(--transition);
      transition: var(--transition);
      font-size: 0.7rem;
      letter-spacing: var(--spacing);
      border-radius: var(--radius);
      box-shadow: 1px 10px 30px 10px rgba(14, 13, 13, 0.2);
      transition: box-shadow 0.3s ease;
      &:hover {
        box-shadow: 1px 10px 60px 30px rgba(14, 13, 13, 0.2);
      }
    }
  }
}

.hero-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-position: bottom center;
  object-fit: cover;
  opacity: 0.8;
  overflow-x: hidden;
  transform: 0.6s ease-in-out;
}
.hero::before {
  z-index: 1;
  content: " ";
  width: 100%;
  height: 100vh;
  max-height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgba(3, 10, 22, 0.89),
    rgba(52, 52, 163, 0.137)
  );
}

.hero-btn-container {
  position: absolute;
  bottom: 60px;
  left: 50%;
  display: flex;
  z-index: 40;
  transform: translateX(-50%);
  .hero-btn {
    box-sizing: border-box;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
    z-index: 40;
    box-shadow: 1px 10px 10px rgba(14, 13, 13, 0.2);
  }
  .active {
    border: 3px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px 10px 30px rgba(14, 13, 13, 0.2);
  }
}

.btn-arrow {
  margin-left: 7px;
  font-size: 26px;
  color: #f1ecec;
  z-index: 40;
}

.hero-rightArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 18px;
  translate: translateY(-50%);
  color: #dbd3d3;
  font-size: 20px;
  font-weight: bold;
  background-color: #ffffff30;
  padding: 10px;
  border-radius: 50%;
  outline: none;
  z-index: 21;
}

.hero-leftArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 18px;
  translate: translateY(-50%);
  color: #d5c6c6;
  font-size: 20px;
  font-weight: bold;
  background-color: #ffffff3d;
  padding: 10px;
  border-radius: 50%;
  outline: none;
  transition: all 0.4s ease-in;
  z-index: 21;
}

.hero-leftArrow:hover,
.hero-rightArrow:hover {
  background-color: #ffffffab;
  cursor: pointer;
}

.hero-downArrow {
  position: absolute;
  left: 48.5%;
  bottom: 0.3%;
  transform: translateX(-50%);
  font-size: clamp(2.2rem, 2.5vw, 44px);
  z-index: 23;
  a {
    margin: 0;
  }
  svg {
    color: #ffffff59;
  }
}
@media (max-width: 900px) {
  .hero {
    width: 100%;
    .hero-header {
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0rem;
      margin: 0rem;

      h1 {
        color: #f4ededee;
        font-weight: 800;
        margin-top: clamp(0.5rem, 0.8rem, 0.7rem);
        margin-bottom: clamp(0.7rem, 1rem, 1.1rem);
        font-size: calc(10px + 1.4vw);
      }
      p {
        width: 100% !important;
        margin: 0;
        padding: 0;
        color: rgb(230, 222, 222) !important;
        text-align: center;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Change this to the number of lines you want */
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.5rem;
      }
      h3 {
        color: #2caeba;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0.2rem;
        width: 100%;
        text-align: center;
        font-family: "Times New Roman", Times, serif;
      }
      h1 {
        color: white;
        font-size: 17px;
      }
    }
  }
  .hero-image {
    object-position: 50% 50%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.6;
  }

  .hero-rightArrow {
    top: 50%;
    right: 10px;
    color: rgba(255, 255, 255, 0.475);
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.475);
    padding: 10px;
  }

  .hero-leftArrow {
    top: 50%;
    left: 10px;
    color: rgba(255, 255, 255, 0.475);
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.475);
    padding: 10px;
  }

  .hero-downArrow {
    position: absolute;
    left: 45.5%;
    bottom: 0.3%;
  }
}
