@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300;1,400&display=swap");

$color: #f3f3f3e7;
$btnColor: rgba(38, 184, 201, 0.856);

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f7;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  a:hover,
  a:visited,
  a:link,
  a:active {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4 {
    color: #292828c7;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
    font-family: "Abril Fatface", serif;
  }
  p {
    text-align: left;
    font-size: 0.98rem;
    line-height: 1.5rem;
    color: #0c0c0cd5;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  li {
    list-style: none;
  }
}

//Set text color based on bg

@function set-text-color($Color) {
  @if (lightness($Color) > 70) {
    @return #3333;
  } @else {
    @return #fff;
  }
}

// Set background & text color

@mixin set-background($bgcolor) {
  background-color: $bgcolor;
  color: set-text-color(bgcolor);
}

// Mrgin & padding classs

$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }

  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }

  .p-#{$space} {
    padding: #{$space}rem 0;
  }
}
