.main-container {
  height: calc(100vh - 50px);
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding: 1.3rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  min-height: 420px;
  border-radius: 20px 2px 15px 2px;
  background-color: #faf9fbde;
  box-shadow: -1px 3px 10px rgba(34, 34, 34, 0.1);
  p {
    width: 80%;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 900px) {
  .main-container {
    width: 90%;
    margin: 1rem auto;
    margin-bottom: 2rem;
    margin-top: 6rem;
  }
}
