.main-container {
  min-height: calc(100vh - 100px);
  width: 100%;
  height: auto;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #faf9fbde;
  margin-top: 5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  h1,
  h3 {
    height: auto;
    font-weight: 600;
    color: #454242;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  p {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #454242;
    font-weight: 400;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  ul {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #454242;
    font-weight: 400;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    li {
      margin-bottom: 0.5rem;
      list-style-type: disc;
      padding-left: 1rem;
      text-align: start;
    }
  }
}
@media (max-width: 900px) {
  .main-container {
    width: 90%;
    h1 {
      font-size: 1.7rem;
    }

    h3 {
      font-size: 1.5rem;
    }
    p {
      width: 90%;
    }
  }
}

@media (max-width: 900px) {
  .main-container {
    width: 97%;
    padding: 1rem auto;
    h1 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.2rem;
    }
  }
  p {
    width: 95%;
  }
  ul {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
