body {
  text-decoration: none;
  box-sizing: border-box;
  background-color: rgba(220, 226, 226, 0.589);
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
.row {
  display: flex;
  height: 100%;

  padding: 0.2rem;
  .col1 {
    padding: 0.2rem;
    flex: 8;
    margin-right: 0.4rem;
  }
  .col2 {
    margin-top: 1rem;

    padding: 0.2rem;
    flex: 4;
    background-color: #90919783;
    width: 90%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    // text-align: start;
    justify-content: space-between;
    .popular-blog {
      display: flex;
      border: 1 solid #24dd0c;
      background-color: #1013b8ed;
      margin: 0.2rem;
      height: 10rem;

      h4 {
        color: gray;
        letter-spacing: 0.1rem;
      }
    }
    .advert {
      height: 13rem;
      background-color: #9495a7ed;
    }
  }
}

.blog-post-container {
  margin: 1rem auto;
  padding: 3px;
  border: 1 solid #dd0c24;

  border-radius: 0.5rem;
  background-color: rgba(248, 251, 251, 0.938);
  text-decoration: none;
  position: relative;
  transition: all 0.5s ease-in-out;
  &:hover .readMore {
    display: block;
  }
  Img {
    width: 200px;
    height: 200px;
  }
  .post-title {
    display: flex;
    margin: 0.3rem;
    text-align: center;
    justify-content: center;

    h3 {
      margin: 0.3rem;
      color: #36384e;
      text-transform: uppercase;
      font-size: 1.1rem;
    }
    span {
      font-size: 0.8rem;
      color: gray;
      margin: 0.3rem 0.4rem;
    }
  }
  p {
    color: #01020aef;
    padding: 0.3rem;
  }
  ul li {
    list-style: none;
    text-decoration: none;
  }
  .readMore {
    border: 1px solid #525dd3b9;
    position: absolute;
    right: 9px;
    bottom: 6px;
    display: none;
    padding: 0.1rem 0.2rem;
    &:hove {
      background-color: rgba(115, 48, 179, 0.548);
      color: rgb(255, 248, 248);
    }
  }
}
