body {
  text-decoration: none;
  box-sizing: border-box;
  background-color: rgba(220, 226, 226, 0.589);
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
.row {
  display: flex;
  height: 100%;

  padding: 0.2rem;
  .col1 {
    padding: 0.2rem;
    flex: 8;
    margin-right: 0.4rem;
  }
  .col2 {
    margin-top: 1.3rem;
    flex: 4;
    background-color: #e3e6ec;
    width: 99%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 0.4rem;

    .popular-blog {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 90%;
      .side-bar {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-self: flex-end;
        margin: auto;
      }
      h4 {
        color: #a81a9c93;
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin-bottom: 0.2rem;
        margin-top: 0.5rem;
      }
    }
    .advert {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 15rem;
      width: 90%;
      margin: 0rem auto 0.5rem;
      border-radius: 0.4rem;
      background-color: hsla(255, 13%, 76%, 0.52);
      text-align: center;
      h4 {
        width: 90%;
        color: gray;
        letter-spacing: 0.2rem;
      }
    }
  }
}

.blog-post-container {
  margin: 1rem auto;
  padding: 0.5rem;
  border: 1 solid #dd0c24;

  border-radius: 0.5rem;
  background-color: rgba(248, 251, 251, 0.938);
  text-decoration: none;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 95%;
  height: 20%;
  &:hover .readMore {
    display: block;
  }
  Img {
    border-radius: 0.4rem;
    overflow: hidden;
    outline: none;
  }
  .post-title {
    display: flex;
    margin: 0.3rem;
    text-align: center;
    justify-content: center;

    h3 {
      margin: 0.3rem;
      color: #36384e;
      text-transform: uppercase;
      font-size: 1.1rem;
    }
    span {
      font-size: 0.8rem;
      color: gray;
      margin: 0.3rem 0.4rem;
    }
  }
  p {
    color: #01020aef;
    padding: 0.3rem;
  }
  ul li {
    list-style: none;
    text-decoration: none;
  }
  .readMore {
    border: 1px solid #525dd3b9;
    position: absolute;
    right: 9px;
    bottom: 6px;
    display: none;
    padding: 0.1rem 0.2rem;
    &:hove {
      background-color: rgba(115, 48, 179, 0.548);
      color: rgb(255, 248, 248);
    }
  }
}
