$colorFooter: rgba(229, 227, 231, 0.808);

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  padding: 0rem 12rem;
  height: 3rem;
  width: 100%;
  overflow-x: hidden;
  background-color: rgba(18, 21, 22, 0.733);
  color: $colorFooter;

  .address {
    flex: 4;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-right: 1rem;
  }
  .copyRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 6;
  }
  a {
    color: $colorFooter;
  }
}
