$colorFooter: rgba(223, 220, 231, 0.808);

.footer {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  height: 4rem;

  width: 98.2vw;
  margin: 0rem 0.2rem;
  background-color: rgba(3, 27, 34, 0.808);
  color: $colorFooter;

  .address {
    flex: 2;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }
  .copyRight {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 3;
  }
  a {
    color: $colorFooter;
    font-size: 1.1rem;
    font-weight: 500;
  }
}
