.header-container {
  position: absolute;
  top: 0;
  left: 0;
  // background: rgba(77, 79, 148, 0.726);
  height: 70px;
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  z-index: 41;
  .header {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1200px;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 130px;
  height: 100%;
  margin: auto;
}
.logo img {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
  position: relative;
}
.logo span {
  color: #f3f3f3e7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  font-family: bold;
  transition: all 0.5sec ease-in-out;

  &:hover {
    color: #faf8f5d3;
  }
}
.navBar {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  .nav-link {
    box-sizing: border-box;
    color: #ffffff9a;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.5rem;
    font-size: 0.6rem;
    font-weight: bold;
    width: 5rem;
    height: 2.2rem;
    outline: none;
    transition: all 0.5sec ease-in-out;
    border-bottom: 4px solid transparent;

    &:hover {
      color: #ffffffe7;
      border-bottom: 4px solid rgba(17, 218, 207, 0.747);
      border-radius: 5px;
    }
    &.active-link {
      color: #ffffffe7;
      border-bottom: 4px solid rgba(17, 218, 207, 0.747);
      border-radius: 5px;
    }
  }
  .contact {
    color: rgba(245, 240, 240, 0.795);
    border-radius: 50px;
    background-color: #6b6f9bb9;
    transition: all 0.3sec ease-in-out;

    &:hover {
      color: #ffffffe7;
      background-color: #309c8a75;
    }
  }
}
.nav-burger-close {
  z-index: 3;
  position: absolute;
  top: 70px;
  right: 50px;
  display: none;
  transform: translateY(-50px);
}
button {
  display: grid;
  place-items: center;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 33px;
  font-weight: bold;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.493);
  border-radius: 20px;
  padding: 0.5rem;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 900px) {
  .nav-burger-close {
    // z-index: 5010;
    display: flex;
    button {
      transition: all 0.5s ease-in-out;
    }
  }

  .logo {
    font-size: 1rem;
    color: #f0e0e0cb;
  }
  .navBar {
    display: none;
  }
}
