@import "base";

.header-container {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to left,
    rgba(82, 85, 197, 0.5),
    rgba(10, 0, 0, 0.3)
  );
  height: 70px;
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  z-index: 41;
  .header {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1200px;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 103px;
  height: 100%;
  padding: 0.3rem 0.4rem;
  margin: auto;
  color: lighten($color, 4);
  border: 2px solid rgba(255, 255, 255, 0.705);
  border-radius: 15px 1px 15px 1px;
  box-shadow: 2px 7px 25px rgba(12, 12, 12, 0.155);
  font-size: 1rem;
  font-family: "Lobster", cursive;
  font-weight: bold;
  transition: all 0.5sec ease-in-out;
  &:hover {
    color: lighten($color, 10%);
    transform: scaleY(1.02);
    box-shadow: 2px 15px 30px rgba(12, 12, 12, 0.255);
  }
}
.logo img {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
  letter-spacing: 0.1rem;
  position: relative;
}
.logo span {
  color: $btnColor;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBar {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  .nav-link {
    box-sizing: border-box;
    color: $color;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.4rem;
    font-size: 0.6rem;
    font-weight: bold;
    width: 5rem;
    height: 2.2rem;
    outline: none;
    transition: all 0.5sec ease-in-out;
    border-bottom: 4px solid transparent;

    &:hover {
      color: lighten($color, 10%);
      border-bottom: 4px solid $btnColor;
      border-radius: 5px;
    }
    &.active-link {
      color: lighten($color, 10%);
      border-bottom: 4px solid $btnColor;
      border-radius: 3px;
    }
  }
  .contact {
    color: $color;
    border-radius: 5px;
    padding: 0.3rem 0.4rem;
    background-color: $btnColor;
    border-bottom: 4px solid transparent;
    box-shadow: -2px 4px 30px rgba(255, 255, 255, 0.193);
    transition: all 0.5sec ease-in-out;

    &:hover {
      color: lighten($color, 20%);
      border-radius: 5px;
      border-bottom: 4px solid $btnColor;
      padding: 0.3rem 0.4rem;
      background-color: lighten($btnColor, 10%);
      box-shadow: -2px 4px 50px rgba(255, 255, 255, 0.493);
    }
  }
}
.nav-burger-close {
  z-index: 3;
  position: absolute;
  top: 70px;
  right: 50px;
  display: none;
  transform: translateY(-50px);
  button {
    display: grid;
    place-items: center;
    background-color: transparent;
    color: $color;
    border: none;
    font-size: 30px;
    font-weight: bold;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.493);
    border-radius: 20px;
    padding: 0.3rem;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      transform: scale(1.07);
    }
  }
}

@media (max-width: 900px) {
  .nav-burger-close {
    display: flex;
    button {
      transition: all 0.5s ease-in-out;
    }
  }
  .header-container {
    background: transparent;
    .header {
      border-bottom: 0.4px solid rgba(255, 255, 255, 0.1);
    }
  }

  .logo {
    font-size: 1rem;
  }
  .navBar {
    display: none;
  }
}
