.header-container {
  // background: rgba(19, 1, 1, 0.205);
  margin-bottom: 1rem;
  height: 70px;
  position: relative;
  z-index: 50;
  box-sizing: border-box;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100px;
  height: 50px;
  padding: auto;
}
.logo img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  color: #fff;
}
.logo span {
  color: #e0e9e7c2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  padding-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  font-family: bold;
  transition: all 0.5sec ease-in-out;

  &:hover {
    color: #faf8f5d3;
  }
}
.navBar {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  .nav-link {
    box-sizing: border-box;
    color: #ffffff9a;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.5rem;
    font-size: 0.6rem;
    font-weight: bold;
    width: 5rem;
    height: 2.2rem;
    outline: none;
    transition: all 0.5sec ease-in-out;
    border-bottom: 4px solid transparent;

    &:hover {
      color: #ffffffe7;
      border-bottom: 4px solid rgba(17, 218, 207, 0.747);
      border-radius: 5px;
    }
    &.active-link {
      color: #ffffffe7;
      border-bottom: 4px solid rgba(17, 218, 207, 0.747);
      border-radius: 5px;
    }
  }
  .contact {
    color: rgba(245, 240, 240, 0.795);
    border-radius: 50px;
    background-color: #6b6f9bb9;
    transition: all 0.3sec ease-in-out;

    &:hover {
      color: #ffffffe7;
      background-color: #309c8a75;
    }
  }
}
.nav-burger-close {
  position: absolute;
  top: 34px;
  right: 30px;
  display: none;
  z-index: 50;
  button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 30px;
    font-weight: bold;
    outline: none;
    transition: 0.5s;
  }
}

@media (max-width: 900px) {
  .nav-burger-close {
    display: block;
    button {
      transition: all 0.5s ease-in-out;
    }
  }

  .header-container {
    margin-bottom: 1rem;
    height: 100px;
  }

  .logo {
    font-size: 1rem;
    color: #f0e0e0cb;
  }
  .navBar {
    display: none;
  }
}
