$borderRadius: 0.2rem;
$headerColor: rgba(96, 26, 161, 0.534);

.title-singlePage {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  justify-content: flex-start;
  align-items: flex-start;
  .blog-author {
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    span {
      margin-right: 0.8rem;
      color: #999999;
      font-size: 0.8rem;
      font-weight: 400;
      font-style: italic;
    }
  }
  h3 {
    width: auto;
    margin-bottom: 0;
    font-size: 1.4rem;
    color: $headerColor;
  }
}
.blog-container {
  position: relative;
  top: -3.9rem;
  width: 97%;
  margin: 0 auto 1rem;
  background-color: #f3f3f3c0;
  margin: 1rem auto;
  padding: 1.4rem;

  border-radius: 0.5rem;
  background-color: rgba(248, 251, 251, 0.938);
  text-decoration: none;
  transition: all 0.5s ease-in-out;

  h3 {
    text-align: center;
    margin: 0 auto;
    padding: 0.2rem;
    color: $headerColor;
    height: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  p {
    margin-top: 1rem;
    justify-content: start;
    text-align: start;
  }
}
Img {
  border-radius: $borderRadius;
}
.sideBare-title {
  padding: 0.2rem;

  h3 {
    font-size: 1rem;
    margin: 0.2rem auto 0.1rem;
    color: $headerColor;
  }
  span {
    color: #89aae6ca;
    font-size: 0.8rem;
    font-style: italic;
  }
}
