$borderRadius: 0.2rem;
$headerColor: rgba(72, 66, 75, 0.699);

.single-page-container {
  margin-top: 6rem;
  margin-bottom: 2rem;
}
.title-singlePage {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  justify-content: flex-start;
  align-items: flex-start;
  .blog-author {
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    span {
      padding-right: 1rem;
      color: rgba(128, 128, 128, 0.514);
      font-size: 0.9rem;
      font-weight: 400;
    }
  }
  h3 {
    width: auto;
    margin-bottom: 0;
    font-size: 1.4rem;
    color: $headerColor;
  }
}
.blog-container {
  position: relative;
  top: -4rem;
  width: 95%;
  margin: 0 auto;
  padding: 1.4rem;
  border-radius: 10px;
  background-color: rgba(248, 251, 251, 0.938);
  text-decoration: none;
  transition: all 0.5s ease-in-out;

  h3 {
    text-align: center;
    margin: 0 auto;
    color: $headerColor;
    height: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  p {
    margin-top: 1rem;
    justify-content: start;
    text-align: start;
    line-height: 1.6rem;
  }
}
Img {
  border-radius: $borderRadius;
}
.sideBare-title {
  padding: 0.2rem;

  h3 {
    font-size: 0.8rem;
    margin: 0.2rem auto 0.1rem;
    color: $headerColor;
  }
  span {
    color: rgba(128, 128, 128, 0.514);
    font-size: 0.9rem;
    font-weight: 400;
  }
}

@media (max-width: 900px) {
  h3 {
    font-size: 1rem;
  }
  .single-page-container {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.col2{
  display: none;
}
}
