/* social links */
.social-links {
  padding: 0;
  margin-top: 1.3rem;
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-link {
  font-size: 1.5rem;
  color: #93b1dfec;
  transition: var(--transition);
}
.social-link:hover {
  color: var(--clr-primary-5);
}

.footer .social-link {
  color: var(--clr-white);
}
.footer .social-link:hover {
  color: var(--clr-primary-5);
}
