/* social links */
.social-links {
  margin-top: 1.3rem;
  width: 11rem;
  display: flex;
  justify-content: space-between;
}
.social-link {
  font-size: 1.3rem;
  color: #93b1dfec;
  transition: var(--transition);
}
.social-link:hover {
  color: var(--clr-primary-5);
}

.footer .social-link {
  color: var(--clr-white);
}
.footer .social-link:hover {
  color: var(--clr-primary-5);
}
